@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-slate-950;
    @apply text-white;
  }
}

html, body, #__nuxt { height: 100%; }

.custom-font-normal {
  font-family: "Outfit", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.custom-font-bold {
  font-family: "Outfit", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Nuxt Content Markdown */
#__nuxtContent a {
  color: #25343F;
  text-decoration-line: underline;
}
#__nuxtContent a:hover {
  color: #FF9B51;
}